html {
    box-sizing: border-box;
  }
  
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e4feff;
  }
  
  .app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  
  header {
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
  }
  
  .quote-text {
    padding-bottom: 20px;
    font-size: 25px;
    color: blackn;
    margin: 25px;
  }
  
  .button {
    display: block;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-size: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  
  .twitter {
    background-color: #1da1f2;
    text-decoration: none;
  }
  


#Name {
    font-size: 2rem;
    height: auto;
    width: 500px;
    margin: 25px;
}

#click-for-name {
        display: flex;
        color: white;
        border-radius: 4px;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        text-align: center;
        width: 20%;
        font-size: 20px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
        background-color: #1da1f2;
}

form {
    display: flex;
    margin: 20px;
}

p {
    font-size: 25px;
    margin: 25px;
}