 div {
   
    border: 500px #9D2235;
    padding: 5px;
    margin: auto;
    
        
        }

 p {
            margin-top: 100px;
            margin-bottom: 100px;
            margin-right: 150px;
            margin-left: 80px;
          }